.mensagem-fail-financas {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ENTRADA {
    color: #4f8f25 !important;
    font-weight: 700;
}

.SAÍDA {
    color: #DB504A !important;
    font-weight: 700;
}

.saldo {
    width: 380px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;

    &.positivo {
        background-color: #4f8f25;
        color: #ffff;
    }

    &.negativo {
        background-color: #DB504A;
        color: #ffff;
    }

    &.neutro {
        background-color: #f2c14e;
        color: #ffff;
    }
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

#infos {
    display: flex;
    align-items: center;
    gap: 8px;
}

#entrada {
    background-color: #f8f9fa;
    border-radius: 15px;
    justify-content: center;
    padding: 10px;
    height: 75px;    
    align-items: end;
}

#saida {
    height: 75px;    
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 15px;
    justify-content: center;
    align-items: end;
}
