.mensagem-fail-financas {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ENTRADA {
    color: green !important;
}

.SAÍDA {
    color: red !important;
}

.saldo {
    width: 50%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;

    &.positivo {
        background-color: #90EE90;
    }

    &.negativo {
        background-color: #8B0000;
        color: #ffff;
    }

    &.neutro {
        background-color: #FFD700;
    }
}

.conteudo {
    margin-top: 15px;
}

#infos {
    display: flex;
    gap: 8px;
    /* height: 60px; */
    /* width: 100%; */
}

#entrada {
    /* width: 25%; */
    /* background-color: #caffca; */
    /* border-radius: 15px; */
    justify-content: center;
    /* margin: 0 auto; */
    align-items: end;
}

#saida {
    /* width: 25%; */
    /* background-color: #fcb1b1; */
    /* border-radius: 15px; */
    justify-content: center;
    align-items: end;
}
