.mensagem-fail-financas{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ENTRADA{
    color: #4f8f25 !important;
}

.SAÍDA{
    color: #942525 !important;
}

.saldo{
    width: 100%;
    height: 80px;
    border-radius: 15px;

    &.positivo{
        background-color: #4f8f25;
        & h4{
            color: #ffff;
        }
    }

    &.negativo{
        background-color: #942525;
        & h4{
            color: #ffff;
        }
    }

    &.neutro{
        background-color: #f2c14e;
        & h4{
            color: #ffff;
        }
    }
}
