.positivo{
    color: #4f8f25 !important;
    font-weight: 900 !important;
}

.negativo{
    color: #942525 !important;
    font-weight: 900 !important;
    
}

.neutro{
    color: #f2c14e !important;
    font-weight: 900 !important;
}

.icone-mais{
    font-weight: 900 !important;
}
